/* SELECTOR UNIVERSAL */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SELECTOR DE ETIQUETA */
body {
    font-family: 'Poppins', sans-serif;
    background: #b2cbe6
}

/* CONTENEDOR DEL ENLACE A LA PÁGINA DE INICIO */
.contenedor-enlace {
    display: inline-block;
}

/* ICONO DE CASA */
.icon-hogar {
    width: 40px;
    height: 40px;
    
}

/* ENLACE A LA PÁGINA DE INICIO */
.enlace-hogar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 1.1rem;
    gap: 10px;
}

/* CARD PRINCIPAL */
.login-card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

/* PANEL DEL FORMULARIO (LADO IZQUIERDO) */
.login-form-section {
    padding: 50px;
}

.login-form-section h2 {
    color: #2a2a2a;
    font-size: 2rem;
    margin-bottom: 15px;
}

/* INPUTS */
.form-control {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.2s ease;
}

.form-control:focus {
    border-color: #8a2be2;
    box-shadow: 0 0 6px rgba(138, 43, 226, 0.4);
}

/* BOTÓN */
.login-btn {
    width: 100%;
    background-color: #e2862b !important;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
}

.login-btn:hover {
    background-color: #c85707ef !important;
    transform: translateY(-2px);
}

/* MENSAJES DE ERROR */
.mensaje-error {
    color: red;
    font-weight: 500;
    text-align: center;
}

/* PANEL DERECHO (IMAGEN) */
.side-image {
    background: #f9f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image img {
    width: 90%;
    max-width: 380px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .login-form-section {
        padding: 30px;
    }

    .side-image {
        padding: 30px;
    }
}
